<div class="container">
      <form id="feedback" method="POST" (ngSubmit)="feedback()">
  


  
        <div class="input-field col s6">
        
        <input type="text"  class="form-control" name="Name" [(ngModel)]="feedbackData.feedback_name">		
        <label >Name</label>
    
      </div>
      
    
      <div class="row">
          <div class="input-field col s12">
            <textarea id="subject" name="comment" placeholder="Write something.." style="height:200px" [(ngModel)]="feedbackData.comments"></textarea>

            <label for="comment">Comment</label>
          </div>
      </div>
      
      <button id="feedback-button" type="submit" class="btn btn-primary row col-md-offset-6" style="padding-right:50px" >Send</button>
    </form>

  </div>