<!-- 

<div class="row">
  <button (click)="toggleControls()" class="btn btn-success">Toggle Controls</button>
  <button (click)="pause()" class="btn btn-warning">Pause</button>
  <button (click)="resume()" class="btn btn-info">Resume</button>
  <button (click)="sound()" class="btn btn-danger">Play with Sound</button>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <h3>
        <video #videoElement id="videoElement"></video>
      </h3>
    </div>
  </div>
</div>
<div>
  <button (click)="play()" class="btn btn-danger">Play</button>
  <video #playVideoElement></video>

</div>
 -->


 <div class="row">
  <div class="col-xs-12">
    <video #video class="video"></video>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button md-raised-button color="primary" (click)="startRecording()"> Record </button>
    <button md-raised-button color="primary"(click) ="stopRecording()"> Stop</button>
    <button md-raised-button color="primary" (click)="download()"> Download</button>
  </div>
</div>