<div class="container">

    <form method="POST" (ngSubmit)="mychannel()">
	      <button type="submit" class="btn btn-primary row col-md-offset-6" style="padding-right:50px" >My Channel</button>

    </form>


<div *ngFor="let video of videos" class="card" style="width:300px;">
  <!-- <p>{{video.userId.first_name}}</p> -->
  <p>{{ video.tags }}</p>
  <p>{{ video.path }}</p>

  <p>{{ video.rating }}</p>
  <video width="320" height="240" controls>
    <source src="{{ video.path }}" type="video/webm">
    Your browser does not support the video tag.
 </video>

</div>
</div>